*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    box-shadow: none;
    border: none;
    font-size: 0;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #EEEEEE;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: #008AFF;
    
}
.header-content{
    display: flex;
    width: 1000px; 
}
.header-container{
    display: flex;
    flex: 1;
    color: white;
    justify-content: center;
    align-items: center;
    font: 300 35px 'Roboto', sans-serif;
}
.user-mode, .logout{
    background-color: transparent;
    width: 250px;
    height: 40px;
    color: white;
    font: 400 19px 'Roboto', sans-serif;
}
.user-mode{
    border: 2px solid white;
    border-radius: 2px;
}
.material-icons.md-25{
    font-size: 35px;
}

